body {
    margin: 20%;
    background-color: beige;
    font-family: Helvetica, Arial, sans-serif;
}
/* p:valid {
    color: green;
}

p:invalid {
    color:red;
    box-shadow: 0 0 5px 1px red;
} */

#erreur {
    font-size: 15px;
    color: red;
}
section {
    display: flex;
    flex-direction: row;
}
aside {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
span {
    font-size: 15px;
    margin-bottom: 2%;
}

input {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
}

::placeholder {
font-size: 12px;
color: darkgray;
}